.span8.offset2.book
    h4 {{book._source.titre}}
    p {{book._source.auteur}}
    p {{book._source.editeur}}
    p {{book._source.type}}
    p {{book._source.sujet}}
    p {{book._source.description}}
