.book
    .row
        .book-thumbnail
            img(class="img-rounded", ng-src="{{book._source.thumbnail}}", ng-show="book._source.thumbnail")
            img(class="img-rounder", ng-src="http://covers.openlibrary.org/b/isbn/{{book._source.isbn}}-S.jpg", ng-hide="book._source.thumbnail")
        .book-title
            h4 {{book._source.titre}}
    .row.book-details
        p Auteur: {{book._source.auteur}}
        p Éditeur: {{book._source.editeur}}
        p Genre: {{book._source.type}}
    .links
        a.provider.provider-amazon(ng-href="{{book._source.amazon_link}}", target="_blank", ng-show="book._source.amazon_link", tooltip="Disponible chez Amazon")
        .provider.provider-amazon.provider-disable(ng-hide="book._source.amazon_link")
        .provider.provider-library(href="#", tooltip="Disponible à la bibliothèque de Saint-Albert")
