div(ng-controller="HomeCtrl")
    .jumbotron(id="header")
        .container
            .searchContainer.span8.offset2
                h1 Trouver un livre
                form.form-inline(ng-submit="submit()")
                    input.search-query.span5(type="text", ng-model="query")
                    input.btn.btn-success.span2(type="submit", value="Trouver")
    .container(ng-class="{results : books.length > 0}")
        .row(infinite-scroll="next()")
            book(ng-repeat="book in books", book="book")
