.input-prepend .add-on {
  color: #333333; }

.container .span12 {
  overflow: hidden;
  position: relative; }

#header {
  margin-bottom: 20px; }
  #header h1 {
    margin-top: 20px; }

#about {
  line-height: 20px; }

#search {
  overflow: hidden;
  position: relative; }
  #search .main-search {
    overflow: hidden;
    position: relative;
    margin-bottom: 4px; }
    #search .main-search input {
      line-height: 30px;
      font-size: 20px;
      float: left;
      margin-right: 12px; }
    #search .main-search .main-field {
      width: 360px;
      height: 30px; }

#results .result-canevas {
  display: none; }
#results .loading {
  display: none;
  font-size: 16px;
  line-height: 100px;
  height: 100px;
  width: 100%;
  background: url(../img/ajax-loader.gif) no-repeat center center; }
#results .result-row {
  background: url(../img/line-arrow.png) no-repeat center right;
  padding-right: 20px;
  position: relative;
  margin-bottom: 12px;
  padding: 0 0 12px 0; }
  #results .result-row .availability {
    position: absolute;
    right: 60px;
    top: 20px;
    display: inline; }
    #results .result-row .availability .span1 {
      float: right; }
  #results .result-row .provider-icon {
    text-indent: -9999px;
    display: block;
    width: 32px;
    height: 32px;
    background-position: 0 -32px; }
  #results .result-row .provider-icon.active {
    background-position: 0 0; }
  #results .result-row .amazon {
    background-image: url(../img/provider/amazon.png); }
  #results .result-row .google {
    background-image: url(../img/provider/google.png); }
  #results .result-row .library {
    background-image: url(../img/provider/library.png); }
  #results .result-row .result-details {
    display: none;
    margin-top: 15px; }
  #results .result-row .open-trigger {
    cursor: pointer; }
#results .result-row.open {
  background: url(../img/line-arrow-open.png) no-repeat bottom right; }
