<div class="container">
  <div class="page-header" id="header">
    <img src="/images/logo.png" alt="LibrariesHub" />
    <h1><%= __('index_title') %></h1>
  </div>

  <form id="form_search" action="/">
    <div class="row" id="search">
      <div class="span9">
        <div class="main-search">
          <input type="text" name="keywords" id="keywords" class="main-field" />
          <input type="submit" name="search" id="search" class="btn primary" value="<%= __('search') %>"/>
        </div>      
      </div>
      <div class="span7" id="about"><%= __('about') %></div>
    </div>
  </form>

  <hr />

  <div id="results">
    <div id="results-list"></div>
    <div id="results-loading" class="loading"><%= __('loading') %></div>

    <div class="row result-row breadcrumb result-canevas" isbn="ss">
      <div class="span16">
        <div class="row open-trigger">
          <div class="span11">
            <h4>
              <a class="result-title"><%= __('title') %></a>
            </h4>
          </div>
          <div class="span3 availability"></div>
        </div>
        <div class="row open-trigger">
          <div class="span11 result-subtitle"><%= __('author') %>, <%= __('year') %></div>                     
        </div>
        <div class="row result-details">
          <div class="span14">
            <ul class="tabs">
              <li class="active"><a class="ulink" href="#detail-resume"><%= __('summary') %></a></li>
              <li><a class="ulink" href="#detail-library"><%= __('library') %></a></li>
              <li><a class="ulink" href="#detail-buy"><%= __('Amazon') %></a></li>
            </ul>
            <div class="pill-content">
              <div class="active uid detail-resume" id="detail-resume">
                Cyprum itidem insulam procul a continenti discretam et portuosam inter municipia crebra urbes duae faciunt claram Salamis et Paphus, altera Iovis delubris altera Veneris templo insignis. tanta autem tamque multiplici fertilitate abundat rerum omnium eadem Cyprus ut nullius externi indigens adminiculi indigenis viribus a fundamento ipso carinae ad supremos usque carbasos aedificet onerariam navem omnibusque armamentis instructam mari committat.                              
              </div>
              <div class="uid" id="detail-library">X km</div>
              <div class="uid" id="detail-buy">$X</div>
            </div>
            <div id="detail-loading" class="loading"><%= __('loading') %></div>
          </div>
        </div>
      </div>
      <div class="span12 left-arrow open-trigger"></div>
    </div>

  </div>

</div>