lightGreen = #86bb5d
lightGrey = #777
coolOrange = #FF7F00

@media (max-width: 979px) and (min-width: 768px)
    .follow
        display none
@media (max-width: 767px)
    .jumbotron
        margin-right -20px
        margin-left -20px
    .searchContainer
        text-align center
        padding 0 20px
    .footerContainer
        padding 0 20px
    .footer 
        padding 10px 0
        margin-left -20px
    .follow
        display none
    .navbar-openify
        padding-top 5px
        margin-bottom 0
        .logoContainer
            img
                max-height 40px

@media (max-width: 480px)
    .searchContainer
        text-align center
        padding 0 20px
    .footerContainer
        padding 0 20px
    .follow
        display none
    .navbar-openify
        padding-top 5px
        margin-bottom 0
        .logoContainer
            img
                max-height 30px;  
.navbar-fixed-top
    position static
    margin-bottom 0
    padding-right 15px
.navbar-openify
    background-color white
    padding 5px 0
    background linear-gradient(top, #fff, rgba(250,250,250,0.8))
    border none
    font-size 16px
    .nav-collapse
        background-color rgba(250,250,250,0.9)
        z-index 100
        padding-left 10px
    .logoContainer
        text-align center
        img
            max-height 50px
    .nav
        li
            transition all ease 0.2s 
            a
                color lightGreen
                transition all ease 0.2s
            a:hover
                color coolOrange
.jumbotron
    background-image url('/images/books.jpg')
    background-position 50% 50%
    .searchContainer
        margin-top 20%
    h1
        margin-bottom 10px
        letter-spacing 2px
        color white 
        text-shadow 0 1px 10px black
    input
        margin 0 5px 10px 0
footer
    position fixed
    bottom 0
    width 100%
    padding 40px 0
    color white
    background-color rgb(60,60,60)
    margin-top 50px
    .follow
        font-size 30px
        line-height 2
        margin-right 10px
    p
        font-size 16px
    a
        transition all ease 0.2s
        color lightGreen
    a:hover
        color coolOrange
        cursor pointer
        text-decoration none
    .socialLinks
        a
            background-position 0 0
            height 64px
            width 80px
            margin-right 5px
            background-repeat no-repeat
            transition none
        a:hover
            background-position 0 -64px    
        .twitter
            background-image url('../images/social/twitterLink.png') 
        .facebook
            background-image url('../images/social/facebookLink.png')
        .github
            background-image url('../images/social/githubLink.png')